html, body {
  margin: 0px;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5em;
  background-color: #333;
  color: #ddd;
  button {
    background-color: #ddd;
    color: #333;
    border: 1px solid #ddd;
  }
}