[data-language="ActionScript"] {
  border-color: #e3491a;
};

[data-language="Ada"] {
  border-color: #02f88c;
};

[data-language="Agda"] {
  border-color: #467C91;
};

[data-language="Alloy"] {
  border-color: #cc5c24;
};

[data-language="ANTLR"] {
  border-color: #9DC3FF;
};

[data-language="Arc"] {
  border-color: #ca2afe;
};

[data-language="Arduino"] {
  border-color: #bd79d1;
};

[data-language="ASP"] {
  border-color: #6a40fd;
};

[data-language="AspectJ"] {
  border-color: #1957b0;
};

[data-language="Assembly"] {
  border-color: #a67219;
};

[data-language="ATS"] {
  border-color: #1ac620;
};

[data-language="AutoHotkey"] {
  border-color: #6594b9;
};

[data-language="AutoIt"] {
  border-color: #36699B;
};

[data-language="Boo"] {
  border-color: #d4bec1;
};

[data-language="C"] {
  border-color: #555;
};

[data-language="C#"] {
  border-color: #5a25a2;
};

[data-language="C++"] {
  border-color: #f34b7d;
};

[data-language="Cirru"] {
  border-color: #aaaaff;
};

[data-language="Clean"] {
  border-color: #3a81ad;
};

[data-language="Clojure"] {
  border-color: #db5855;
};

[data-language="CoffeeScript"] {
  border-color: #244776;
};

[data-language="ColdFusion"] {
  border-color: #ed2cd6;
};

[data-language="Common Lisp"] {
  border-color: #3fb68b;
};

[data-language="Component Pascal"] {
  border-color: #b0ce4e;
};

[data-language="CSS"] {
  border-color: #563d7c;
};

[data-language="D"] {
  border-color: #fcd46d;
};

[data-language="Dart"] {
  border-color: #98BAD6;
};

[data-language="DM"] {
  border-color: #075ff1;
};

[data-language="Dogescript"] {
  border-color: #cca760;
};

[data-language="Dylan"] {
  border-color: #3ebc27;
};

[data-language="E"] {
  border-color: #ccce35;
};

[data-language="Eagle"] {
  border-color: #3994bc;
};

[data-language="ECL"] {
  border-color: #8a1267;
};

[data-language="edn"] {
  border-color: #db5855;
};

[data-language="Eiffel"] {
  border-color: #946d57;
};

[data-language="Elixir"] {
  border-color: #6e4a7e;
};

[data-language="Emacs Lisp"] {
  border-color: #c065db;
};

[data-language="Erlang"] {
  border-color: #0faf8d;
};

[data-language="F#"] {
  border-color: #b845fc;
};

[data-language="Factor"] {
  border-color: #636746;
};

[data-language="Fancy"] {
  border-color: #7b9db4;
};

[data-language="Fantom"] {
  border-color: #dbded5;
};

[data-language="FLUX"] {
  border-color: #33CCFF;
};

[data-language="Forth"] {
  border-color: #341708;
};

[data-language="FORTRAN"] {
  border-color: #4d41b1;
};

[data-language="Frege"] {
  border-color: #00cafe;
};

[data-language="Game Maker Language"] {
  border-color: #8ad353;
};

[data-language="Glyph"] {
  border-color: #e4cc98;
};

[data-language="Gnuplot"] {
  border-color: #f0a9f0;
};

[data-language="Go"] {
  border-color: #375eab;
};

[data-language="Gosu"] {
  border-color: #82937f;
};

[data-language="Grammatical Framework"] {
  border-color: #ff0000;
};

[data-language="Groovy"] {
  border-color: #e69f56;
};

[data-language="Harbour"] {
  border-color: #0e60e3;
};

[data-language="Haskell"] {
  border-color: #29b544;
};

[data-language="Haxe"] {
  border-color: #f7941e;
};

[data-language="Hy"] {
  border-color: #7891b1;
};

[data-language="IDL"] {
  border-color: #e3592c;
};

[data-language="Io"] {
  border-color: #a9188d;
};

[data-language="Ioke"] {
  border-color: #078193;
};

[data-language="Java"] {
  border-color: #b07219;
};

[data-language="JavaScript"] {
  border-color: #f1e05a;
};

[data-language="Julia"] {
  border-color: #a270ba;
};

[data-language="KRL"] {
  border-color: #f5c800;
};

[data-language="Lasso"] {
  border-color: #2584c3;
};

[data-language="Latte"] {
  border-color: #A8FF97;
};

[data-language="LFE"] {
  border-color: #004200;
};

[data-language="LiveScript"] {
  border-color: #499886;
};

[data-language="Lua"] {
  border-color: #fa1fa1;
};

[data-language="Mask"] {
  border-color: #f97732;
};

[data-language="Matlab"] {
  border-color: #bb92ac;
};

[data-language="Max"] {
  border-color: #ce279c;
};

[data-language="Mercury"] {
  border-color: #abcdef;
};

[data-language="Mirah"] {
  border-color: #c7a938;
};

[data-language="MTML"] {
  border-color: #0095d9;
};

[data-language="Nemerle"] {
  border-color: #0d3c6e;
};

[data-language="nesC"] {
  border-color: #ffce3b;
};

[data-language="NetLogo"] {
  border-color: #ff2b2b;
};

[data-language="Nimrod"] {
  border-color: #37775b;
};

[data-language="Nu"] {
  border-color: #c9df40;
};

[data-language="Objective-C"] {
  border-color: #438eff;
};

[data-language="Objective-C++"] {
  border-color: #4886FC;
};

[data-language="Objective-J"] {
  border-color: #ff0c5a;
};

[data-language="OCaml"] {
  border-color: #3be133;
};

[data-language="Omgrofl"] {
  border-color: #cabbff;
};

[data-language="ooc"] {
  border-color: #b0b77e;
};

[data-language="Oxygene"] {
  border-color: #5a63a3;
};

[data-language="Pan"] {
  border-color: #cc0000;
};

[data-language="Parrot"] {
  border-color: #f3ca0a;
};

[data-language="Pascal"] {
  border-color: #b0ce4e;
};

[data-language="PAWN"] {
  border-color: #dbb284;
};

[data-language="Perl"] {
  border-color: #0298c3;
};

[data-language="Perl6"] {
  border-color: #0298c3;
};

[data-language="PHP"] {
  border-color: #4F5D95;
};

[data-language="Pike"] {
  border-color: #066ab2;
};

[data-language="PogoScript"] {
  border-color: #d80074;
};

[data-language="Processing"] {
  border-color: #2779ab;
};

[data-language="Prolog"] {
  border-color: #74283c;
};

[data-language="Propeller Spin"] {
  border-color: #2b446d;
};

[data-language="Puppet"] {
  border-color: #cc5555;
};

[data-language="Pure Data"] {
  border-color: #91de79;
};

[data-language="PureScript"] {
  border-color: #bcdc53;
};

[data-language="Python"] {
  border-color: #3581ba;
};

[data-language="QML"] {
  border-color: #44a51c;
};

[data-language="R"] {
  border-color: #198ce7;
};

[data-language="Racket"] {
  border-color: #ae17ff;
};

[data-language="Ragel in Ruby Host"] {
  border-color: #ff9c2e;
};

[data-language="Rebol"] {
  border-color: #358a5b;
};

[data-language="Red"] {
  border-color: #ee0000;
};

[data-language="Rouge"] {
  border-color: #cc0088;
};

[data-language="Ruby"] {
  border-color: #701516;
};

[data-language="Rust"] {
  border-color: #dea584;
};

[data-language="SAS"] {
  border-color: #1E90FF;
};

[data-language="Scala"] {
  border-color: #7dd3b0;
};

[data-language="Scheme"] {
  border-color: #1e4aec;
};

[data-language="Self"] {
  border-color: #0579aa;
};

[data-language="Shell"] {
  border-color: #5861ce;
};

[data-language="Shen"] {
  border-color: #120F14;
};

[data-language="Slash"] {
  border-color: #007eff;
};

[data-language="Smalltalk"] {
  border-color: #596706;
};

[data-language="SourcePawn"] {
  border-color: #f69e1d;
};

[data-language="Standard ML"] {
  border-color: #dc566d;
};

[data-language="SuperCollider"] {
  border-color: #46390b;
};

[data-language="Swift"] {
  border-color: #ffac45;
};

[data-language="SystemVerilog"] {
  border-color: #343761;
};

[data-language="Tcl"] {
  border-color: #e4cc98;
};

[data-language="TeX"] {
  border-color: #3D6117;
};

[data-language="Turing"] {
  border-color: #45f715;
};

[data-language="TypeScript"] {
  border-color: #31859c;
};

[data-language="Unified Parallel C"] {
  border-color: #755223;
};

[data-language="UnrealScript"] {
  border-color: #a54c4d;
};

[data-language="Vala"] {
  border-color: #ee7d06;
};

[data-language="VCL"] {
  border-color: #0298c3;
};

[data-language="Verilog"] {
  border-color: #848bf3;
};

[data-language="VHDL"] {
  border-color: #543978;
};

[data-language="VimL"] {
  border-color: #199c4b;
};

[data-language="Visual Basic"] {
  border-color: #945db7;
};

[data-language="Volt"] {
  border-color: #0098db;
};

[data-language="wisp"] {
  border-color: #7582D1;
};

[data-language="xBase"] {
  border-color: #3a4040;
};

[data-language="XQuery"] {
  border-color: #2700e2;
};

[data-language="Zephir"] {
  border-color: #118f9e;
};
