<div class="navbar-collapse collapse navbar-inverse-collapse">
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}Heroes Of GitHub{{/link-to}}
  </div>

  <ul class="nav navbar-nav">
    {{#if username}}
    <li>{{username}}</li>
    <li><button {{action "logout"}}>Log Out</button></li>
    {{/if}}
  </ul>

  <div class="pull-right">
    <button class="btn-action" {{action "findMatch"}}>Start a Game</button>
  </div>
</div>
