<div class="navbar-collapse collapse navbar-inverse-collapse">
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}Heroes Of GitHub{{/link-to}}
  </div>

  <ul class="nav navbar-nav">
    {{#if username}}
    <li class="user" {{action "logout"}}>
      <span class="avatar"><img {{bind-attr src=avatar}} /></span>
      <span class="username">{{username}}</span>
    </li>
    {{/if}}
  </ul>

  {{#if username}}
  <div class="pull-right">
    <button class="btn-action" {{action "findMatch"}}>Start a Game ››</button>
  </div>
  {{/if}}
</div>
